*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
}

:root {
  --bg-color: rgb(44, 44, 44);
  --bg-color-2: rgb(65, 61, 61);
  --text-color: rgb(240, 240, 240);
  --text-color-2: rgb(212, 186, 186);
  --legend-select-color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.footer {
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: var(--text-color-2);
  background-color: var(--bg-color-2);
}

#title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  color: var(--text-color);
}

#description {
  text-align: center;
}

.cell {
  stroke-width: 2px;
}

.axis text {
  stroke: var(--text-color-2);
}
.axis path,
.axis line {
  stroke: var(--bg-color);
}

.axis text {
  font-weight: 100;
}

#tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  padding: 20px 20px;
  border-radius: 6px;
  color: var(--text-color);
  background-color: var(--bg-color-2);
  pointer-events: none;
  opacity: 0;
}

.legend-text {
  font-size: 12px;
  font-weight: 400;
  fill: var(--text-color-2);
}

.legend-item {
  cursor: pointer;
  transition: 0.5s opacity;
}

.legend-item.selected {
  opacity: 0.7;
  stroke: var(--legend-select-color);
  stroke-width: 3px;
}

.legend-item:hover {
  opacity: 0.7;
}
